@font-face {
    font-family: 'PT Sans Regular';
    src: url('../assets/fonts/PTSans-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'PT Sans Bold';
    src: url('../assets/fonts/PTSans-Bold.ttf') format('truetype');
}
