:root {
    --excellent: #57C3BE;
    --excellent-darker: #03898C;
    --excellent-darkest: #026466;
    --good: #A7C38B;
    --good-darker: #6F8C52;
    --good-darkest: #51663C;
    --moderate: #E0C34F;
    --moderate-darker: #BF9C15;
    --moderate-darkest: #997D11;
    --unhealthy: #E1984E;
    --unhealthy-darker: #BF6F1B;
    --unhealthy-darkest: #995916;
    --very-unhealthy: #D35B57;
    --very-unhealthy-darker: #993A37;
    --very-unhealthy-darkest: #732B29;

    --border: #CED7E5;
    --text: #3F384A;

    --white: #FFFFFF;

    --text-regular: normal 400 14px/16px 'PT Sans';
}
