:root {
    --color-excellent: #57C3BE;
    --color-excellent-dark: #03A3A7;
    --color-good: #A7C38B;
    --color-normal: #E0C34F;
    --color-bad: #E1984E;
    --color-awful: #D35B57;

    --color-gray: #CED7E5;
    --color-text: #707070;
    --color-text-lighter: #878898;
    --color-text-lightest: #ABB0BF;
    --color-text-darker: #3F384A;
    --color-white: #FFFFFF;

    --text-regular: normal 400 14px/16px 'PT Sans';
    --text-small: normal 400 12px/20px 'PT Sans';
}
