.dashboard {
    position: fixed;
    z-index: 2;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: column;

    footer {
        background-color: var(--color-white);
        width: 100%;
        padding: 24px;
        border-top: 1px solid var(--color-gray);
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.weather {
    display: flex;
    justify-content: space-between;

    span {
        cursor: default;
        display: flex;
        align-items: center;
        font-size: 16px;

        svg {
            margin-right: 2px;
        }

        & + span {
            margin-left: 18px;
        }
    }
}

.timeline {
    display: flex;
    align-items: center;

    .measure {
        height: 16px;
        display: flex;
        align-items: center;
        position: relative;

        &:before {
            content: '';
            display: block;
            width: 16px;
            height: 16px;
            border-radius: 100%;
            background-color: var(--color-excellent);
        }

        &:after {
            content: '';
            display: block;
            width: 16px;
            height: 4px;
            background-color: var(--color-gray);
            margin: 0 8px;
        }

        span {
            position: absolute;
            top: 16px;
            font: var(--text-small);
            color: var(--color-text-lighter);
            width: 16px;
            white-space: nowrap;
            display: flex;
            justify-content: center;
        }
    }

    .average-measure {
        width: 32px;
        height: 32px;
        border-radius: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--color-excellent);

        h5 {
            font: var(--text-title);
            color: var(--color-white);
        }
    }
}

.level {
    display: flex;
    flex-direction: column;
    align-items: center;

    .level-current {
        width: 160px;
        height: 32px;
        border-radius: 16px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--color-excellent);
        color: var(--color-white);
        cursor: default;
    }

    .level-desc {
        position: absolute;
        bottom: 96px;
        max-width: 220px;
        background-color: var(--color-white);
        border: 1px solid var(--color-gray);
        padding: 25px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        h5 {
            align-self: center;
            margin-bottom: 20px;
        }

        div {
            display: flex;
            align-items: center;
            color: var(--color-text-lighter);

            &:before {
                content: '';
                display: inline-block;
                width: 16px;
                height: 16px;
                margin-right: 16px;
            }

            &.level-excellent:before {
                background-color: var(--color-excellent);
            }

            &.level-good:before {
                background-color: var(--color-good);
            }

            &.level-normal:before {
                background-color: var(--color-normal);
            }

            &.level-bad:before {
                background-color: var(--color-bad);
            }

            &.level-awful:before {
                background-color: var(--color-awful);
            }

            & + div {
                margin-top: 8px;
            }

            &:last-child {
                margin-top: 10px;
                color: var(--color-text-lightest);

                &:before {
                    content: none;
                }
            }
        }
    }
}

.info {
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    span {
        border: 1px solid var(--color-gray);
        border-radius: 50%;
        background-color: var(--color-white);
        transition: background-color 0.15s ease-in;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 32px;
        height: 32px;
    }

    &.info-active span {
        background-color: var(--color-gray);
    }

    &:hover span {
        background-color: var(--color-gray);
    }

    &:active span {
        width: 30px;
        height: 30px;
    }
}

.about {
    background-color: var(--color-white);
    align-self: flex-end;
    margin: 0 15px 15px 0;
    border: 1px solid var(--color-gray);
    padding: 30px;
    max-width: 500px;
    text-align: left;

    h5 {
        span {
            color: var(--color-excellent-dark);
        }
    }

    p {
        & + h5 {
            margin-top: 20px;
        }

        a {
            color: var(--color-excellent-dark);
            text-decoration: none;
            white-space: nowrap;
        }
    }
}
