.map {
    position: absolute !important;
    top: 0;
    bottom: 0;
    z-index: 1;
}

.layers-switcher {
    position: absolute;
    top: 40px;
    right: 40px;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;

    button {
        width: 56px;
        height: 48px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid var(--color-gray);
        background-color: var(--color-white);
        transition: background-color 0.2s ease-in-out;
        --svg-inactive: #878898;

        &:first-child {
            border-right: none;
            border-top-left-radius: 16px;
            border-bottom-left-radius: 16px;
        }

        & + button {
            border-left: 1px solid var(--color-gray);
            border-top-right-radius: 16px;
            border-bottom-right-radius: 16px;
        }

        svg path {
            transition: fill 0.2s ease-in-out;
        }

        &.stations-inactive {
            background-color: var(--color-gray);

            svg {
                path {
                    fill: var(--svg-inactive);
                }
            }
        }

        &.factories-inactive {
            background-color: var(--color-gray);

            svg {
                [class*="base"], [class*="red"] {
                    fill: var(--svg-inactive);
                }

                [class*="white"] {
                    fill: #ABB0BF;
                }
            }
        }
    }
}
